<!DOCTYPE html>
<html>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close(true)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">Associar camada</h3>
    </div>
    <div class="modal-body" ng-init="initialize();" style="overflow: visible">
        <div ng-include="'assets/libs/eits-directives/alert/alert.html'"></div>

        <form novalidate name="form" default-button="{{buttonInsert}}" style="margin-bottom: 10px; margin-top: 10px;">
            <input type="text" ng-model="filterOptions.filterText" name="nome" style="width: 300px; float: left;"
                   placeholder="Filtrar nome ou titulo grupo de camadas" class="form-control"
                   required="true"
                   ng-class="{ ngInvalid: form.nome.$error.required && (form.$submitted || form.nome.$dirty) }"/>
        </form>

        <br style="clear: both"/>

        <div ng-show="showLoading" class="grid-loading"></div>
        <div class="grid-align" ng-grid="gridOptions" style="height: 335px; border: 1px solid rgb(212,212,212); margin-top: 10px;"></div>
    </div>

    <div class="grid-elements-count" style="margin: -14px 20px 0 0;">{{numeroDeRegistros}} registro(s)</div>

    <div class="modal-footer">
        <button id="buttonClose" ng-disabled="selectedEntity == null" class="btn btn-primary" ng-click="close(false)">Selecionar</button>
        <button class="btn btn-default" ng-click="close(true)">Fechar</button>
    </div>
</div>

<script type="text/javascript">
    /**
     * Jquery usado para nao permitir que a popup seja aberta novamente toda vez que o usuario teclar enter
     */
    $(document).ready(function () {
        $("#hide").focus();
        $("#hide").hide();
    });
</script>

</html>