  .sidebar {
    display: block;
    background-color: #f8f8f8;
    color: #333333;
    border-right: 1px solid #dfdfdf;
    min-height: 1px;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}