<div class="nav-heading">
    <h4>Portal de Mapas Itaipu</h4>
</div>
<div class="navbar-collapse">
    <ul class="nav navbar">
        <li>
            <a role="button" data-target="#panelBasemaps" aria-haspopup="true">
                <span class="glyphicon glyphicon-user"></span>Usuários</a>
        </li>
        <li routerLink="/data-source" routerLinkActive="active">
            <a role="button">
                <span class="glyphicon glyphicon-hdd"></span>Fonte de dados</a>
        </li>
        <li>
            <a role="button">
                <span class="glyphicon glyphicon-th-list"></span>Grupo de Camadas</a>
        </li>
        <li>
            <a role="button">
                <span class="glyphicon glyphicon-align-justify"></span>Camadas</a>
        </li>
        <li>
            <a role="button">
                <span class="glyphicon glyphicon-search"></span>Pesquisa</a>
        </li>
        <li>
            <a role="button">
                <span class="glyphicon glyphicon-eye-open"></span>Grupo de acesso</a>
        </li>
        <li>
            <a role="button">
                <span class="glyphicon glyphicon-ok-sign"></span>Avaliação de postagem</a>
        </li>
        <li role="separator">
            <hr/>
        </li>
        <li>
            <a role="button">
                <span class="glyphicon glyphicon-user"></span>Minhas contribuições</a>
        </li>
        <li>
            <a role="button">
                <span class="glyphicon glyphicon-cog"></span>Configurações</a>
        </li>
    </ul>
</div>