<ul id="navbar" class="side-nav">
    <li>
        <div class="logo">
            <img src="assets/img/logo_itaipu.png">
            <span>Portal de Mapas</span>
        </div>
    </li>

    <li>
        <div class="divider"></div>
    </li>

    <ng-container *ngIf="authenticated">

        <li>
            <a role="button" routerLink="/map" routerLinkActive="active">
                <i class="material-icons">map</i>Mapa
            </a>
        </li>

        <li>
            <a role="button">
                <i class="material-icons">person</i>Usuários
            </a>
        </li>

        <li>
            <a role="button" routerLink="/data-source" routerLinkActive="active">
                <i class="fa fa-database"></i>Fontes de dados
            </a>
        </li>

        <li>
            <a role="button" routerLink="/layer-group" routerLinkActive="active">
                <i class="material-icons">format_list_numbered</i>Grupo de Camadas
            </a>
        </li>

        <li>
            <a role="button">
                <i class="material-icons">layers</i>Camadas
            </a>
        </li>

        <li>
            <a role="button">
                <i class="material-icons">search</i>Pesquisa
            </a>
        </li>

        <li>
            <a role="button">
                <i class="material-icons">group</i>Grupos de Acesso
            </a>
        </li>

        <li>
            <a role="button">
                <i class="material-icons">thumb_up</i>Avaliação de Postagem
            </a>
        </li>

        <li>
            <div class="divider"></div>
        </li>

        <li>
            <a role="button">
                <i class="material-icons">rate_review</i>Minhas Contribuições
            </a>
        </li>

        <li>
            <a role="button">
                <i class="material-icons">settings</i>Configurações
            </a>
        </li>

        <li>
            <a role="button" (click)="logout()">
                <i class="material-icons">power_settings_new</i>Sair
            </a>
        </li>

    </ng-container>

    <ng-container *ngIf="!authenticated">
        <li>
            <a role="button" (click)="login()">
                <i class="material-icons">lock_outline</i>Login
            </a>
        </li>
    </ng-container>
</ul>

<a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="navbar" class="btn-floating btn-large waves-effect waves-light">
    <i class="material-icons">menu</i>
</a>