.logo {
    margin: 10px;
    vertical-align: middle;

    img {
        vertical-align: inherit;
    }

    span {
        vertical-align: inherit;
        font-weight: 500;
    }
}

/* correção do alinhamento dos ícones do font-awesome nas listas */
.side-nav .fa {
    font-size: 1.5em;
    text-align: center;
}