<ul class="sidebar-menu">

    <ng-container *ngIf="authenticated">

        <li>
            <a role="button" routerLink="/map" routerLinkActive="active">
                <span class="glyphicon glyphicon-picture"></span>Mapa
            </a>
        </li>

        <li>
            <a role="button">
                <span class="glyphicon glyphicon-user"></span>Usuários
            </a>
        </li>

        <li>
            <a role="button" routerLink="/data-source" routerLinkActive="active">
                <span class="fa fa-database"></span>Fontes de dados
            </a>
        </li>

        <li>
            <a role="button" routerLink="/layer-group" routerLinkActive="active">
                <span class="glyphicon glyphicon-th-list"></span>Grupo de Camadas
            </a>
        </li>

        <li>
            <a role="button">
                <span class="fa fa-clone"></span>Camadas
            </a>
        </li>

        <li>
            <a role="button">
                <span class="glyphicon glyphicon-search"></span>Pesquisa
            </a>
        </li>

        <li>
            <a role="button">
                <span class="fa fa-users"></span>Grupos de Acesso
            </a>
        </li>

        <li>
            <a role="button">
                <span class="glyphicon glyphicon-thumbs-up"></span>Avaliação de Postagem
            </a>
        </li>

        <li>
            <div class="divider"></div>
        </li>

        <li>
            <a role="button">
                <span class="glyphicon glyphicon-comment"></span>Minhas Contribuições
            </a>
        </li>

        <li>
            <a role="button">
                <span class="glyphicon glyphicon-cog"></span>Configurações
            </a>
        </li>

        <li>
            <a role="button" (click)="logout()">
                <span class="glyphicon glyphicon-log-out"></span>Sair
            </a>
        </li>

    </ng-container>

    <ng-container *ngIf="!authenticated">
        <li>
            <a role="button" (click)="login()">
                <span class="glyphicon glyphicon-log-in"></span>Login
            </a>
        </li>
    </ng-container>
</ul>