/* para evitar que o header fique em cima do menu */
.navbar-header {
    float: none;
}

/* adiciona um espaçamento entre o ícone e o texto do menu */
.glyphicon {
    margin-left: 5px;
    margin-right: 5px;
}