implementation/solution/src/main/resources/rebel.xml
implementation/gs-community-pmi/authkey/target/**
implementation/solution/src/main/webapp/.idea/**
implementation/geocab-multimodule.iml
implementation/.idea/**
implementation/mobile/android/geocab-mobile/libraries/**
implementation/solution/src/main/webapp/WEB-INF/spring/geocab-mvc-servlet-context.xml
