<ion-view view-title="Geocab">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeftSideMenu()">
    </button>
  </ion-nav-buttons>
  <ion-content scroll="false" id="map" class="loading" data-tap-disabled="true" on-hold="onHold($event, data)">
  </ion-content>

  <div ng-if="currentEntity.latitude && !currentEntity.id" ng-click="viewMarker()" ng-include="'./views/templates/new-marker-preview.html'">
  </div>

  <div ng-if="currentEntity.id" ng-click="viewMarker()" ng-include="'./views/templates/marker-preview.html'">
  </div>

  <div ng-if="currentWMS.layer" ng-click="viewWMS()" ng-include="'./views/templates/wms-preview.html'">
  </div>
</ion-view>
