<ion-view hide-nav-bar="true">

  <!--<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeftSideMenu()">
    </button>
  </ion-nav-buttons>-->

  <ion-content scroll="false" >
    <button class="button button-icon icon ion-navicon drawer-button" ng-click="toggleLeftSideMenu()"></button>
    <div id="map" class="loading" on-hold="onHold($event, data)"></div>
  </ion-content>

  <div ng-if="currentEntity.latitude && !currentEntity.id" ng-click="viewMarker()" ng-include="'./views/templates/new-marker-preview.html'">
  </div>

  <div ng-if="currentEntity.id" ng-click="viewMarker()" ng-include="'./views/templates/marker-preview.html'">
  </div>

  <div ng-if="currentWMS.layer" ng-click="viewWMS()" ng-include="'./views/templates/wms-preview.html'">
  </div>
</ion-view>


<!-- Template de opções do menu de new marker -->
<script id="marker-view-options-menu.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
      <ion-list class="options-menu-button">
        <ion-item ng-click="approveMarker()">
          <button ng-disabled="currentEntity.status == 'ACCEPTED' || !currentEntity.id" class="button button-icon icon ion-thumbsup"> Aprovar</button>
        </ion-item>
        <ion-item ng-click="refuseMarker()">
          <button ng-disabled="currentEntity.status == 'REFUSED' || !currentEntity.id" class="button button-icon icon ion-thumbsdown"> Recusar</button>
        </ion-item>
        <ion-item ng-click="cancelMarker()">
          <button ng-disabled="currentEntity.status == 'CANCELED' || !currentEntity.id" class="button button-icon icon ion-android-close"> Cancelar</button>
        </ion-item>
        <ion-item ng-click="removeMarker()">
          <button class="button button-icon icon ion-android-delete" 
                  ng-disabled="!currentEntity.id || !(currentEntity.user.id == userMe.id && currentEntity.status != 'ACCEPTED')" > Excluir</button>
        </ion-item>
       </ion-list>
    </ion-content>
  </ion-popover-view>
</script>