<ion-view>

  <ion-nav-title>
    <h4 class="stable" ng-if="!currentEntity.id">{{ currentEntity.layer.title ? currentEntity.layer.title : currentEntity.name }}</h4>
    <h4 class="stable" ng-if="currentEntity.id" style="margin: 0px">{{ currentEntity.layer.title ? currentEntity.layer.title : currentEntity.name }}</h4>
    <h6 class="stable" style="margin: 0px" ng-if="currentEntity.id"><b>{{ getMarkerStatus(currentEntity.status) }}</b></h6>
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-images" ng-if="selectedPhotoAlbumAttribute.type == 'PHOTO_ALBUM'" ng-click="getPhotosByAttribute(selectedPhotoAlbumAttribute);$state.go(MAP_GALLERY);"></button>
    <button class="button button-icon icon ion-android-done" form="marker" type="submit" ng-if="!isDisabled"></button>
    <button class="button button-icon icon ion-android-more-vertical" ng-click="openPopover($event)" ></button>
  </ion-nav-buttons>

  <ion-header-bar class="bar-subheader bar-positive" style="text-align: center;">
    <h6 class="stable" ng-if="!currentEntity.id">{{ showMarkerPosition() }}</h6>
    <h6 class="stable" ng-if="currentEntity.id">{{ 'map.Created-by' | translate }} <b>{{ currentEntity.user.name }}</b> {{ 'in' | translate }} <b>{{ currentEntity.created | date:'dd/MM/yyyy' }}</b></h6>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <label class="item item-input item-select" ng-if="!currentEntity.id">
        <span class="input-label">{{ 'Layer' | translate }}</span>
        <select ng-change="listAttributesByLayer(currentEntity.layer, true)" ng-model="currentEntity.layer"
                ng-options="layer.title ? layer.title : name for layer in allInternalLayerGroups"></select>
      </label>
      <div class="row" ng-if="imgResult != '' && imgResult != null">
        <img ng-src="{{ setImagePath(imgResult) }}" width="100%" style="max-height: 200px"
             ng-click="getPhotosByAttribute(selectedPhotoAlbumAttribute);$state.go(MAP_GALLERY)">
      </div>
      <form id="marker" name="markerForm" novalidate ng-submit="saveMarker(markerForm)">
        <fieldset ng-disabled="isDisabled">
          <div ng-repeat="attribute in currentEntity.markerAttribute track by $index">
            <!--text or number-->
            <label
              ng-class="{'has-error': (markerForm.input{{$index}}.$invalid && markerForm.input{{$index}}.$touched) || (isFormSubmit && attribute.required && markerForm.input{{$index}}.$invalid)}"
              class="item item-input item-floating-label"
              ng-if="attribute.type == 'TEXT' || attribute.type == 'NUMBER'">
              <span class="input-label">{{ attribute.name }} </span>
              <input type="{{ attribute.type }}" name="input{{$index}}" ng-model="attribute.value"
                     placeholder="{{ attribute.name }}" ng-required="attribute.required">
            </label>
            <!--boolean-->
            <label
              ng-class="{'has-error': (markerForm.input{{$index}}.$invalid && markerForm.input{{$index}}.$touched) || (isFormSubmit && attribute.required && markerForm.input{{$index}}.$invalid)}"
              class="item item-input" ng-if="attribute.type == 'BOOLEAN'">
              <span class="input-label">{{ attribute.name }}</span>
              <ion-radio ng-model="attribute.value" name="input{{$index}}" ng-value="'Yes'"
                         ng-required="!attribute.value">{{ 'map.Yes' | translate }}
              </ion-radio>
              <ion-radio ng-model="attribute.value" name="input{{$index}}" ng-value="'No'"
                         ng-required="!attribute.value">{{ 'map.No' | translate }}
              </ion-radio>
            </label>
            <!--date-->
            <label
              ng-class="{'has-error': (markerForm.input{{$index}}.$invalid && markerForm.input{{$index}}.$touched) || (isFormSubmit && attribute.required && markerForm.input{{$index}}.$invalid)}"
              class="item item-input item-floating-label" ng-if="attribute.type == 'DATE'">
              <span class="input-label">{{ attribute.name }}</span>
              <input type="text" ng-model="attribute.value" name="input{{$index}}" ng-click="showDatePicker(attribute)"
                     placeholder="{{ attribute.name }}" ng-required="attribute.required">
            </label>
            <div class="form-error"
                 ng-show="(markerForm.input{{$index}}.$invalid && markerForm.input{{$index}}.$touched) || (isFormSubmit && attribute.required && markerForm.input{{$index}}.$invalid)">
              {{ 'map.Field-required' | translate }}
            </div>
          </div>
        </fieldset>
      </form>
    </ion-list>
  </ion-content>
</ion-view>
