<ion-view view-title="{{ currentEntity.layer.title ? currentEntity.layer.title : currentEntity.name }}">
  <ion-header-bar class="bar-subheader bar-positive">
    <label class="title" ng-if="!currentEntity.id">{{ showMarkerPosition() }}</label>
    <label ng-if="currentEntity.id">Status <b>{{ getMarkerStatus(currentEntity.status) }}</b></label>
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-images" ng-if="selectedPhotoAlbumAttribute.type == 'PHOTO_ALBUM'" ng-click="getPhotosByAttribute(selectedPhotoAlbumAttribute);$state.go(MAP_GALLERY);"></button>
      <button class="button button-icon icon ion-android-done" form="marker" type="submit" ng-if="!isDisabled"></button>
    </ion-nav-buttons>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <label class="item item-input item-select" ng-if="!currentEntity.id">
        <span class="input-label">{{ 'Layer' | translate }}</span>
        <select ng-change="listAttributesByLayer(currentEntity.layer, true)" ng-model="currentEntity.layer"
                ng-options="layer.title ? layer.title : name for layer in allInternalLayerGroups"></select>
      </label>
      <div class="row" ng-if="imgResult != '' && imgResult != null">
        <img ng-src="{{ setImagePath(imgResult) }}" width="100%" style="max-height: 200px"
             ng-click="getPhotosByAttribute(selectedPhotoAlbumAttribute);$state.go(MAP_GALLERY)">
      </div>
      <form id="marker" name="markerForm" novalidate ng-submit="saveMarker(markerForm)">
        <fieldset ng-disabled="isDisabled">
          <div ng-repeat="attribute in currentEntity.markerAttribute track by $index">
            <!--text or number-->
            <label
              ng-class="{'has-error': (markerForm.input{{$index}}.$invalid && markerForm.input{{$index}}.$touched) || (isFormSubmit && attribute.required && markerForm.input{{$index}}.$invalid)}"
              class="item item-input item-floating-label"
              ng-if="attribute.type == 'TEXT' || attribute.type == 'NUMBER'">
              <span class="input-label">{{ attribute.name }} </span>
              <input type="{{ attribute.type }}" name="input{{$index}}" ng-model="attribute.value"
                     placeholder="{{ attribute.name }}" ng-required="attribute.required">
            </label>
            <!--boolean-->
            <label
              ng-class="{'has-error': (markerForm.input{{$index}}.$invalid && markerForm.input{{$index}}.$touched) || (isFormSubmit && attribute.required && markerForm.input{{$index}}.$invalid)}"
              class="item item-input" ng-if="attribute.type == 'BOOLEAN'">
              <span class="input-label">{{ attribute.name }}</span>
              <ion-radio ng-model="attribute.value" name="input{{$index}}" ng-value="'Yes'"
                         ng-required="!attribute.value">{{ 'map.Yes' | translate }}
              </ion-radio>
              <ion-radio ng-model="attribute.value" name="input{{$index}}" ng-value="'No'"
                         ng-required="!attribute.value">{{ 'map.No' | translate }}
              </ion-radio>
            </label>
            <!--date-->
            <label
              ng-class="{'has-error': (markerForm.input{{$index}}.$invalid && markerForm.input{{$index}}.$touched) || (isFormSubmit && attribute.required && markerForm.input{{$index}}.$invalid)}"
              class="item item-input item-floating-label" ng-if="attribute.type == 'DATE'">
              <span class="input-label">{{ attribute.name }}</span>
              <input type="text" ng-model="attribute.value" name="input{{$index}}" ng-click="showDatePicker(attribute)"
                     placeholder="{{ attribute.name }}" ng-required="attribute.required">
            </label>
            <div class="form-error"
                 ng-show="(markerForm.input{{$index}}.$invalid && markerForm.input{{$index}}.$touched) || (isFormSubmit && attribute.required && markerForm.input{{$index}}.$invalid)">
              {{ 'map.Field-required' | translate }}
            </div>
          </div>
        </fieldset>
      </form>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-stable" align-title="left" ng-if="showMarkerDetails && currentEntity.id">
    <div ng-if="userMe.role == 'ADMINISTRATOR'">
      <button class="button button-icon icon ion-thumbsup" ng-disabled="currentEntity.status == 'ACCEPTED'" ng-click="approveMarker()"></button>
      <button class="button button-icon icon ion-thumbsdown" ng-disabled="currentEntity.status == 'REFUSED'" ng-click="refuseMarker()"></button>
      <button class="button button-icon icon ion-android-close" ng-disabled="currentEntity.status == 'CANCELED'" ng-click="cancelMarker()"></button>
    </div>
    <button class="button button-icon icon ion-android-delete" ng-if="currentEntity.user.id == userMe.id && currentEntity.status != 'ACCEPTED'" ng-click="removeMarker()"></button>
  </ion-footer-bar>
</ion-view>
