<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>


    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">

    <ion-header-bar class="bar bar-header bar-stable">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="{{'Search' | translate}}" ng-model="search">
      </label>
    </ion-header-bar>
    <ion-content class="has-header has-footer" scroll="true">
      <div class="item item-divider">
        Subheader
      </div>
      <ion-list ng-repeat="layer in allLayers | filter:{title:search}" class="layers">
        <ion-checkbox ng-model="layer.visible" ng-click="toggleLayer(layer)">
          <i class="ion-edit" ng-if="layer.enabled"></i>
          {{ layer.title ? layer.title : layer.name }}
          <img ng-if="!layer.legend" class="item-checkbox-img" ng-src="{{ $API_ENDPOINT }}/{{ layer.icon }}">
          <!-- se a camada é interna pega o ícone -->
          <img ng-if="layer.legend" class="item-checkbox-img" ng-src="{{ layer.legend }}">
          <!-- se a camada é externa pega a legenda -->
        </ion-checkbox>
      </ion-list>

    </ion-content>
    <div class="bar bar-footer bar-positive">
      <div class="row col-80">
        <b class="dynamic-text">{{ userMe.name }}</b>
      </div>
      <div class="col-15">
        <button class="button button-icon icon ion-android-exit" ng-click="logout()"></button>
      </div>
    </div>

  </ion-side-menu>
</ion-side-menus>
