<div id="drawer" [ngClass]="{open: !isHidden}" class="drawer dw-xs-4 dw-sm-4 dw-md-2 fold" aria-labelledby="drawer">

    <div class="drawer-controls" [ngClass]="{hidden: isToggleButtonHidden}">
        <a class="btn" href="#drawer" data-toggle="drawer" href="#drawer" aria-foldedopen="false"
           aria-controls="drawer">
            <span class="glyphicon glyphicon-menu-hamburger"></span></a>
    </div>

    <div class="drawer-contents">
        <app-nav></app-nav>

        <div class="drawer-footer locked text-center">
            <small>&copy; Itaipu Binacional</small>
        </div>
    </div>
</div>