<div id="drawerExample" class="drawer dw-xs-4 dw-sm-4 dw-md-2 fold" aria-labelledby="drawerExample">
            <div class="drawer-controls">
                <a class="btn" href="#drawerExample" data-toggle="drawer" href="#drawerExample" aria-foldedopen="false" aria-controls="drawerExample">
                  <span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>            
            <div class="drawer-contents">
                <div class="drawer-heading">
                    <h4 class="drawer-title">Portal de Mapas Itaipu</h4>
                </div>
                <ul class="drawer-nav">
                      <li><a role="button" data-target="#panelBasemaps" aria-haspopup="true"><span class="glyphicon glyphicon-user dw-xs-1"></span>Usuários</a></li>
                      <li><a role="button" id="calciteToggleNavbar" aria-haspopup="true"><span class="glyphicon glyphicon-hdd dw-xs-1"></span>Fonte de dados</a></li>
                      <li><a role="button" id="calciteToggleNavbar" aria-haspopup="true"><span class="glyphicon glyphicon-th-list dw-xs-1"></span>Grupo de Camadas</a></li>
                      <li><a role="button" id="calciteToggleNavbar" aria-haspopup="true"><span class="glyphicon glyphicon-align-justify dw-xs-1"></span>Camadas</a></li>
                      <li><a role="button" id="calciteToggleNavbar" aria-haspopup="true"><span class="glyphicon glyphicon-search dw-xs-1"></span>Pesquisa</a></li>
                      <li><a role="button" id="calciteToggleNavbar" aria-haspopup="true"><span class="glyphicon glyphicon-eye-open dw-xs-1"></span>Grupo de acesso</a></li>
                      <li><a role="button" id="calciteToggleNavbar" aria-haspopup="true"><span class="glyphicon glyphicon-ok-sign dw-xs-1"></span>Avaliação de postagem</a></li>
                      <li role="separator" ><hr/></li>
                      <li><a role="button" id="calciteToggleNavbar" aria-haspopup="true"><span class="glyphicon glyphicon-user dw-xs-1"></span>Minhas contribuições</a></li>
                      <li><a role="button" id="calciteToggleNavbar" aria-haspopup="true"><span class="glyphicon glyphicon-cog dw-xs-1"></span>Configurações</a></li>
                </ul>
                
                <div class="drawer-footer locked text-center">
                    <small>&copy; Itaipu Binacional</small>
                </div>
            </div>
</div>

            
  
      