html, body {
	width: 100%;
	height: 100%;
}
div.map {
	height: 100%;
	width: 100%;
}

#collapsible-content {
    overflow-y: auto;
    margin: 0;
}

.ol-attribution button, .ol-attribution u, .ol-zoom {
	display: none;
}

#popupCloseLeft {
	width: 263px;
	top: 27px;
	position: fixed;
	right: 14px;
	padding: 0;
}

.ui-collapsible-heading-toggle {
	border: none!important;
	font-size: 12px;
	background-color: #f6f6f6;
	border-radius: 0!important;
	padding-top: 12px;
	padding-left: 39px;
	padding-bottom: 12px;
}

.ui-collapsible-content {
	border: none!important;
	word-wrap: break-word;
	margin: 0;
	font-size: 12px;
}

a.ui-collapsible-heading-toggle.ui-btn.ui-icon-minus.ui-btn-icon-left.ui-btn-inherit::after {
	border-radius: 0;
	background: url(arrow-icon-2.png);
	background-size: 100%;
	width: 14px;
	background-repeat: no-repeat;
	margin: -8px 0 0 4px;
}
a.ui-collapsible-heading-toggle.ui-btn.ui-icon-plus.ui-btn-icon-left.ui-btn-inherit::after {
	border-radius: 0;
	background: url(arrow-icon.png);
	background-size: 100%;
	width: 14px;
	background-repeat: no-repeat;
	margin: -8px 0 0 4px;
}

.ui-btn-icon-notext::after, .ui-btn-icon-top::after, .ui-btn-icon-bottom::after {
	background: url(close-btn-2.png) no-repeat;
	background-position: center;
	background-size: 43px;
	width: 27px;
	height: 27px;
	margin-top: -13px;
	margin-left: -13px;
}

.layer-content-image {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.layer-content-image.loading-gif {
	width: 30%;
	height:30%;
}

@media (max-height: 580px) {
	#popupCloseLeft-popup, #popupCloseLeft {
		max-width: 291px !important;
		width: 291px;
	}
	#collapsible-content {
		max-height: 489px !important;
	}
}

@media (min-height: 660px) and (min-width: 365px) {
	#popupCloseLeft-popup, #popupCloseLeft {
		max-width: 345px !important;
		width: 345px;
	}
	#collapsible-content {
		max-height: 586px !important;
	}
}

@media (min-height: 720px) and (min-width: 400px) {
	#popupCloseLeft-popup, #popupCloseLeft {
		max-width: 382px !important;
		width: 382px;
	}
	#collapsible-content {
		max-height: 653px !important;
	}
}