/* Botões de ações */
.navbar .navbar-inner button {
    float : right;
}

/* Tamanho e borda padrão para grid */
.ng-grid-options-default,
.ng-grid-options-popup-default,
.ng-grid-options-recurso-default {
    height : 335px;
    border : 1px solid rgb(212,212,212);
}

.ng-grid-options-popup-default {
    height : 273px;
}


.ng-grid-options-recurso-default {
    height : 270px;
}

.clearfix {
    clear : both;
}

.total-elements-grid {
    float  : right;
    margin : 15px 15px 15px 0px;
}

.pagination-grid {
    text-align : center;
    display    : inline-block;
}

.chosen-container{
    width: 100% !important;
}

.ui-datepicker-calendar {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	border: 1px solid #dddddd;
	background-color: #FFF;
}

.panel-body{
	height:710px;
}

.datepicker{
	/*z-index:10000 !important;*/
}

.panel-default>.panel-heading+.panel-collapse>.panel-body{height: auto}
.panel-default>.panel-heading+.panel-collapse>.panel-body p:hover{cursor: pointer; text-decoration: underline}