/* Botões de ações */
.navbar .navbar-inner button {
    float : right;
}

/* Tamanho e borda padrão para grid */
.ng-grid-options-default,
.ng-grid-options-popup-default,
.ng-grid-options-recurso-default {
    height : 335px;
    border : 1px solid rgb(212,212,212);
}

.ng-grid-options-popup-default {
    height : 273px;
}


.ng-grid-options-recurso-default {
    height : 270px;
}

.clearfix {
    clear : both;
}

.total-elements-grid {
    float  : right;
    margin : 15px 15px 15px 0px;
}

.pagination-grid {
    text-align : center;
    display    : inline-block;
}

