.logo {
    background: url(../images/logo-login.png) 7px 0px no-repeat;
	background-size: 50%;
	width: 107px;
	height: 60px;
	display: block;
	float: left;
	margin-left: -9px;
	margin-right: 15px;
}

.pre {
	background: url(../images/logo-itaipu.png) 19px 20px no-repeat;
	background-size: 61px;
	width: 79px;
	height: 85px;
	display: block;
	float: left;
	margin-left: -15px;
	margin-right: 15px;
}

.logo:hover {
    text-decoration: none;
}