ul[md-treeview] {
    width: 100%;
    text-align: left;
    border: 0;
    border-collapse: collapse;
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul[md-treeview-child] {
    width: 100%;
    text-align: left;
    border: 0;
    border-collapse: collapse;
    padding-left: 32px;
}

li[md-treeview] {
    list-style-type: none;
    color: rgba(0,0,0,0.87);
    padding: 15px 0px 15px 0px
    
}

li[md-treeview]:hover {
    background-color: #eeeeee;
}

li[md-treeview]:hover md-icon[md-tree-icon]{
    visibility: visible;
}


md-icon[md-tree-icon] {
    font-size: 14px;
    visibility: hidden;        
}

li[md-treeview] {
    border-top: 1px solid rgba(0,0,0,0.12);
}

div[md-treeview-inner] {
	padding-left: 25px;
}



