.icon-stack {
    background-image: url("https://img.clipartfest.com/1153f0696fe458d6349e0839178e34d2_clipart-info-stack-icon-clipart_512-512.png");
    background-position: center center;
    height: 14px;
    width: 14px;
}