<!DOCTYPE html>
<html>
<!-- Data source - Form -->
<div>
    <form novalidate name="form"
          default-button="{{ (currentState == INSERT_STATE) && 'buttonInsert' || 'buttonUpdate' }}">

        <div class="content-tab">
            <label class="form-item detail-label" style="margin-bottom: 5px">Type</label>
            <br>

            <div class="form-item-horizontal radio" style="margin-left: 0;">
                <input id="dataSource-WMS" type="radio" value="WMS"
                       ng-model="currentEntity.typeDataSource">
                <label class="radio-label" for="datasource-WMS">WMS</label>

                <input id="dataSource-WFS" type="radio" value="WFS"
                       ng-model="currentEntity.typeDataSource">
                <label class="radio-label" for="datasource-WFS">WFS</label>
                
                 <input id="dataSource-WFS" type="radio" value="INTERNAL"
                       ng-model="currentEntity.typeDataSource">
                <label class="radio-label" for="datasource-WFS">INTERNAL</label>
            </div>
            <br>

            <div class="form-item position-relative" style="width: 300px;">
                <label class="detail-label" required>Name</label>
                <input name="name" type="text" class="form-control"	
                       ng-model="currentEntity.name"
                       placeholder="Enter your name"
                       required maxlength="144" ng-minlength="1"
                       ng-class="{ ngInvalid: form.name.$error.required && (form.$submitted || form.name.$dirty) }"
                       autofocus
                       ng-hover>

                <span ng-show="form.name.$error.required && (form.$submitted || form.name.$dirty)"
                      class="tooltip-validation">Name required</span>
            </div>
            <br>

            <div class="form-item position-relative" style="width: 500px;">
                <label class="detail-label" required>Address</label>
                <input name="address" type="text" class="form-control"
                       ng-model="currentEntity.address"
                       numbers-only
                       maxlength="255"
                       placeholder="http://"
                       required ng-minlength="1"
                       ng-class="{ ngInvalid: form.address.$error.required && (form.$submitted || form.address.$dirty) }"
                       ng-hover>
                <span ng-show="form.address.$error.required && (form.$submitted || form.address.$dirty)"
                      class="tooltip-validation">Address required</span>
            </div>
            <br>

            <div>
                <input id="authenticationRequired" type="checkbox"
                       ng-model="data.showFields"
                       ng-change="clearFields()" ng-checked="data.showFields">
                <label for="authenticationRequired" title="Authentication required">Authentication required</label>
            </div>
            <br ng-if="data.show"/>

            <div class="form-item position-relative" ng-if="data.showFields" style="width: 200px;">
                <label class="detail-label" required>Username</label>
                <input name="username" type="text" class="form-control"
                       ng-model="currentEntity.username"
                       placeholder="Enter your username"
                       required maxlength="144" ng-minlength="1"
                       ng-class="{ ngInvalid: form.username.$error.required && (form.$submitted || form.username.$dirty) }"
                       ng-hover>
				<span ng-show="form.username.$error.required && (form.$submitted || form.username.$dirty)"
                      class="tooltip-validation">Username required</span>
            </div>

            <br/>

            <!--O navegador interpreta um campo com o type text com a propriedade name seguido de um campo com o type password como se fossem o mesmo do login
            Por isso foi adicionado um campo vazio para não interpretar como o mesmo campo da tela de autenticação para não atribuir os valores.-->

            <input type="text" style="display: none"/>

            <div class="form-item position-relative" ng-if="data.showFields" style="width: 200px;">
                <label class="detail-label" required>Password</label>
                <input name="password" type="password" class="form-control"
                       placeholder="Enter your password"
                       ng-model="currentEntity.password"
                       required maxlength="144"
                       ng-class="{ ngInvalid: form.password.$error.required && (form.$submitted || form.password.$dirty) }"
                       ng-hover>
				<span ng-show="form.password.$error.required && (form.$submitted || form.password.$dirty)"
                      class="tooltip-validation">Password required</span>
            </div>
        </div>
    </form>
</div>
</html>
