<!DOCTYPE html>
<ion-view view-title="">

    <ion-content>

        <ion-slide-box on-slide-changed="slideChanged(index)" pager-click="navSlide(index)">
            <!-- SLIDE 1 -->
            <ion-slide>

              <div class="intro-image">
                <img src="/static/images/intro-1.png">
              </div>

              <div class="intro-detail">
                <p>
                  Thank you for choosing the GEOCAB
                </p>
                <p>
                    We've worked hard to make you happy
                </p>
                <p>
                    But if you are angry, too bad.
                </p>

              </div>

            </ion-slide>

            <ion-slide>
              <!-- SLIDE 2 -->
              <div class="intro-image">
                <img src="/static/images/intro-2.png">
              </div>

              <div class="intro-detail">

                <p>
                    We've worked super hard to make you happy.
                </p>
                <p>
                    But if you are angry, too bad.
                </p>
              </div>
            </ion-slide>

            <ion-slide>
              <!-- SLIDE 1 -->
              <div class="intro-image">
                <img src="/static/images/intro-3.png">
              </div>

              <div class="intro-detail">
                <p>Thank you for choosing the GEOCAB MOBILE</p>
                <p>
                    We've worked super hard to make you happy.
                </p>
                <p>
                    But if you are angry, too bad.
                </p>
              </div>

            </ion-slide>

        </ion-slide-box>


        <div class="button-bar intro-detail-footer">

          <i class="button icon-left ion-chevron-left button-clear button-dark" ng-click="previous()" ng-show="slideIndex > 0"></i>

          <div style="z-index: -1"></div>

          <i class="button icon-right ion-chevron-right button-clear button-dark" ng-click="next()" ng-show="slideIndex != 2"></i>
          <i class="button icon-right ion-chevron-right button-clear button-dark" ng-click="startApp()" ng-show="slideIndex == 2"></i>

        </div>


    </ion-content>
</ion-view>
