<!DOCTYPE html>
<ion-view view-title="">

    <ion-content>

        <ion-slide-box on-slide-changed="slideChanged(index)" pager-click="navSlide(index)">
            <!-- SLIDE 1 -->
            <ion-slide>

              <div class="intro-image">
                <img src="./static/images/intro-1.png">
              </div>

              <div class="intro-detail">
                <p>
                  Olá, Você está no Geocab Mobile.
                </p>
                <p>
                    Você pode visualizar as camadas no mapa ativando-as a partir do menu lateral.
                </p>

              </div>

            </ion-slide>

            <ion-slide>
              <!-- SLIDE 2 -->
              <div class="intro-image">
                <img src="./static/images/intro-2.png">
              </div>

              <div class="intro-detail">

                <p>
                    Você pode visualizar informações da postagem clicando sobre ela e abrido a tela de informações arrastando-a para cima.
                </p>

              </div>
            </ion-slide>

            <ion-slide>
              <!-- SLIDE 1 -->
              <div class="intro-image">
                <img src="./static/images/intro-3.png">
              </div>

              <div class="intro-detail">
                <p>
                    Para adicionar um ponto, coloque o dedo no mapa e segure por um instante.
                </p>
                <p>
                    Ele será adicionado nesse local após sua confirmação.
                </p>

              </div>

            </ion-slide>

        </ion-slide-box>


        <div class="row button-bar intro-detail-footer">

          <div class="col-33">
            <i class="button icon-left ion-chevron-left button-clear button-dark" ng-click="previous()" ng-show="slideIndex > 0"></i>
          </div>

          <div class="col-33 col-offset-33">

            <i class="col-offset-50 button icon-right ion-chevron-right button-clear button-dark" ng-click="next()" ng-show="slideIndex != 2"></i>

            <button ng-click="startApp()" class="button button-assertive" ng-show="slideIndex == 2">
              OK, Entendi
            </button>
          </div>




        </div>


    </ion-content>
</ion-view>
