<!-- 
<md-toolbar color="primary" class="mat-elevation-z4">    
    <md-icon class="example-icon" routerLink="/layer-group">arrow_back</md-icon>
    <span>{{title}}</span>
    <span spacer></span>    
</md-toolbar>

<section class="screen-content">
<form (ngSubmit)="onSubmit()" target="_parent">
    <div fxLayout="column">
        <md-input-container>
            <input mdInput placeholder="Nome" name="nome" [(ngModel)]="model.name">
        </md-input-container>
    
    </div>
    <button md-raised-button routerLink="/layer-group/new">Salvar</button>
</form>            
</section>
 -->


<h1>Novo Grupo de Camadas</h1>
<hr/>
<form (ngSubmit)="onSubmit()" target="_parent">
    <div class="panel">
	    <div class="panel-body">
	        <button type="button" class="btn btn-warning pull-right" routerLink="/layer-group">Voltar</button>
	        <button type="submit" class="btn btn-primary pull-right">Salvar</button>
	    </div>
	</div>    

    <div class="panel panel-default">
        <div class="panel-body">
		    <div class="content">
		        <div class="form-group">
		            <label for="name">Nome</label>
		            <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="model.name">
		        </div>
	        </div>
	    </div>
    </div>
</form>
