@charset "UTF-8";

@font-face {
  font-family: "itaipu-icons";
  src:url("fonts/itaipu-icons.eot");
  src:url("fonts/itaipu-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/itaipu-icons.woff") format("woff"),
    url("fonts/itaipu-icons.ttf") format("truetype"),
    url("fonts/itaipu-icons.svg#itaipu-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "itaipu-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="itaipu-icon-"]:before,
[class*=" itaipu-icon-"]:before {
  font-family: "itaipu-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.itaipu-icon-arrow-down:before {
  content: "a";
}
.itaipu-icon-arrow-left:before {
  content: "b";
}
.itaipu-icon-arrow-right:before {
  content: "c";
}
.itaipu-icon-arrow-up:before {
  content: "d";
}
.itaipu-icon-config:before {
  content: "e";
}
.itaipu-icon-delete:before {
  content: "f";
}
.itaipu-icon-edit:before {
  content: "g";
}
.itaipu-icon-notification:before {
  content: "h";
}
.itaipu-icon-calendar:before {
  content: "i";
}
.itaipu-icon-schedules:before {
  content: "j";
}
.itaipu-icon-conditional:before {
  content: "k";
}
.itaipu-icon-close:before {
  content: "l";
}
.itaipu-icon-folder:before {
  content: "m";
}
.itaipu-icon-map:before {
  content: "n";
}
.itaipu-icon-save:before {
  content: "o";
}
.itaipu-icon-alert:before {
  content: "p";
}
.itaipu-icon-duplicate:before {
  content: "q";
}
.itaipu-icon-zoom:before {
  content: "s";
}
.itaipu-icon-square:before {
  content: "t";
}
.itaipu-icon-pointer:before {
  content: "v";
}
.itaipu-icon-plus:before {
  content: "w";
}
.itaipu-icon-layers:before {
  content: "y";
}
.itaipu-icon-kml:before {
  content: "u";
}
.itaipu-icon-minus:before {
  content: "r";
}
.itaipu-icon-ruler-1:before {
  content: "z";
}
.itaipu-icon-reset:before {
  content: "C";
}
.itaipu-icon-export:before {
  content: "D";
}
.itaipu-icon-ruler:before {
  content: "x";
}
.itaipu-icon-geolocation:before {
  content: "F";
}
.itaipu-icon-zoom-extend:before {
  content: "G";
}
.itaipu-icon-zoom-in:before {
  content: "A";
}
.itaipu-icon-zoom-out:before {
  content: "B";
}
.itaipu-icon-search:before {
  content: "H";
}
.itaipu-icon-shp:before {
  content: "E";
}
