<div class="viewport">
    <div class="button-area">
        <a (click)="clickMenuButton()">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
    </div>

    <div class="logo">
        <img src="assets/img/logo_itaipu.png">
        <span>Portal de Mapas</span>
    </div>

    <div class="side-nav" [class.opened]="navOpened">
        <app-nav></app-nav>
    </div>

    <div class="map-content" (click)="closeNavbar()">
        <router-outlet></router-outlet>
    </div>
</div>