.toolbar {
    display: flex;
    padding: 20px 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.toolbar .header-title h2 {
    margin-bottom: 0;
}

.toolbar .header-actions {
    display: inherit;
    align-items: flex-end;
}