<ion-view view-title="Gallery">
  <div class="bar bar-header bar-positive">
    <button ng-click="$state.go( INDEX )" class="button button-icon icon ion-android-arrow-back"></button>
    <h1 class="title">Fotos </h1>
    <div class="buttons">
      <button ng-if="(currentEntity.user.id == userMe.id || !currentEntity.user.id) && !isDisabled" class="button button-icon icon ion-camera" ng-click="addMedia()"></button>
      <!--<button class="button button-icon icon ion-android-done" ng-click="saveMarker(markerForm)"></button>-->

    </div>
  </div>
  <!--<div class="bar bar-subheader padding">
    <ion-scroll direction="x" style="overflow: scroll; white-space: nowrap;">
      <div class="row">
        <div style="text-align:center" class="col" ng-repeat="attribute in currentEntity.markerAttribute track by $index"
             ng-if="attribute.type == 'PHOTO_ALBUM'" ng-click="getPhotosByAttribute(attribute, $index)">
          <h5>{{ attribute.name }}</h5>
        </div>
      </div>
    </ion-scroll>
  </div>-->
  <ion-content class="has-header" scroll="true" style="margin-top:10px">
    <label class="item item-input item-select" ng-if="photosSelected == 0">
      <span class="input-label">Álbum</span>
      <select ng-change="getPhotosByAttribute(selectedPhotoAlbumAttribute, true)" ng-model="selectedPhotoAlbumAttribute" ng-options="attribute.name for attribute in currentEntity.markerAttribute | filter:{type: 'PHOTO_ALBUM'}"></select>
    </label>

    <label class="item item-input" ng-if="photosSelected == 1">
      <!--<span class="input-label">Descrição</span>-->
      <input type="text" ng-model="selectedPhoto.description" placeholder="Descrição">
    </label>

    <div class="row" style="flex-wrap: wrap;">
      <div class="col col-50" ng-repeat="photo in selectedPhotoAlbumAttribute.photoAlbum.photos | filter:deleted">
        <img style="width:100%" ng-src="{{ setImagePath(photo.image) }}" ng-click="openModal($index)"/>
        <!--<h6>{{ photo.description ? photo.description :  photo.name }}</h6>-->
      </div>
    </div>
  </ion-content>
</ion-view>
