<ion-view view-title="Map">

  <ion-side-menus>

    <button class="button button-icon icon ion-navicon drawer-button" ng-click="toggleDrawer()"></button>

    <button class="button button-icon icon ion-arrow-shrink gps-button" ng-click="getGPSPosition()"></button>

    <ion-side-menu-content>
      <ion-view title="Ionic App">
        <ion-content scroll="false">
          <openlayers on-hold="onHold($event)" ol-center="center" width="100%" height="100%" ol-defaults="defaults">
            <ol-marker ng-repeat="marker in markers" ol-marker-properties="marker" lat="marker.lat"
                       lon="marker.lon"></ol-marker>
          </openlayers>
        </ion-content>
      </ion-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <drawer side="left" on-drag-end="onDragEnd(event)" on-drag-start="onDragStart(event)">
      <!--<ion-nav-bar class="bar-stable nav-title-slide-ios7 has-tabs-top">
        <ion-nav-buttons side="left">
          <button class="button button-icon icon ion-navicon" ng-click="toggleDrawer()">
          </button>
        </ion-nav-buttons>
      </ion-nav-bar>-->

      <div class="list">
        <!--<div class="bar bar-header bar-light">
          <h1 class="title">bar-light</h1>
        </div>-->
        <div>
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
          </label>
        </div>
        <ion-list ng-repeat="layer in model.layers" class="layers">
          <ion-checkbox>{{layer.name}}
            <img class="item-checkbox-img" ng-src="{{$API_ENDPOINT}}/{{layer.icon}}">
          </ion-checkbox>
        </ion-list>
      </div>

    </drawer>

    <ion-pull-up-footer id="pull-up" ng-if="currentEntity.lat" initial-state="minimized" default-behavior="expand"
                        on-expand="footerExpand()" on-collapse="footerCollapse()" on-minimize="footerMinimize()"
                        ng-include="'./views/map/pull-up.html'">

    </ion-pull-up-footer>

  </ion-side-menus>
</ion-view>
