<ion-view view-title="Map">

  <ion-side-menus>

    <button class="button button-icon icon ion-navicon drawer-button" ng-click="toggleDrawer()"></button>
    <!--<button class="button button-icon icon ion-android-locate gps-button fab" ng-click="getGPSPosition()"></button>-->

    <ion-side-menu-content>
      <ion-content scroll="false">
        <div id="map" on-hold="onHold($event, data)"></div>
      </ion-content>
    </ion-side-menu-content>

    <!-- Left menu -->
    <drawer side="left" on-drag-end="onDragEnd(state)" on-drag-start="onDragStart(state)">

      <header class="bar bar-header bar-stable">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="{{'Search' | translate}}" ng-model="search">
        </label>
      </header>
      <ion-content class="has-header has-footer" scroll="true">
        <ion-list ng-repeat="layer in allLayers | filter:{title:search}" class="layers">
          <ion-checkbox ng-model="layer.visible" ng-click="toggleLayer(layer)">{{ layer.title ? layer.title : layer.name }}
            <img ng-if="!layer.legend" class="item-checkbox-img" ng-src="{{ $API_ENDPOINT }}/{{ layer.icon }}">
            <!-- se a camada é interna pega o ícone -->
            <img ng-if="layer.legend" class="item-checkbox-img" ng-src="{{ layer.legend }}">
            <!-- se a camada é externa pega a legenda -->
          </ion-checkbox>
        </ion-list>

      </ion-content>
      <div class="bar bar-footer bar-positive">
        <div class="row col-80">
            <b class="dynamic-text">{{ userMe.name }}</b>
        </div>
        <div class="col-15">
          <button class="button button-icon icon ion-android-exit" ng-click="logout()"></button>
        </div>
      </div>

    </drawer>
    <ion-pull-up-footer id="pull-up" class="pull-up" ng-if="currentEntity.latitude || currentEntity.id" initial-state="minimized" default-behavior="expand" on-expand="footerExpand()" on-collapse="footerCollapse()" on-minimize="footerMinimize()" ng-include="'./views/map/pull-up.html'"></ion-pull-up-footer>
    <ion-pull-up-footer id="pull-up-wms" class="pull-up" ng-if="currentWMS.layer" initial-state="minimized" default-behavior="expand" on-expand="footerWMSExpand()" on-collapse="footerWMSCollapse()" on-minimize="footerWMSMinimize()" ng-include="'./views/map/wms.html'"></ion-pull-up-footer>
  </ion-side-menus>
</ion-view>
