<ion-view view-title="Map">

  <ion-side-menus>
    <!-- Center content -->
    <ion-header-bar class="bar bar-header bar-stable nav-title-slide-ios7 has-tabs-top disable-user-behavior"
                    align-title="center">
      <div class="buttons buttons-left header-item"><span class="left-buttons">
      <button class="button button-icon icon ion-navicon animate drawerToggle" drawer-toggle="" animate="true"
              style="transform: translate3d(0px, 0px, 0px);">
      </button>
      <h1 class="title"></h1>
      <button class="button" ng-click="getGPSPosition()">gps</button>
   </span></div>
      <div class="title title-center header-item"><span class="nav-bar-title">
    Ionic Ap
   </span></div>
    </ion-header-bar>

    <ion-side-menu-content>
      <ion-view title="Ionic App">
        <ion-content scroll="false">
          <openlayers on-hold="onHold($event)" ol-center="center" width="100%" height="100%" ol-defaults="defaults">
            <ol-marker ng-repeat="marker in markers" ol-marker-properties="marker" lat="marker.lat"
                       lon="marker.lon"></ol-marker>
          </openlayers>
        </ion-content>
      </ion-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <drawer side="left">
      <ion-nav-bar class="bar-stable nav-title-slide-ios7 has-tabs-top">
        <ion-nav-buttons side="left">
          <button class="button button-icon icon ion-navicon" ng-click="toggleDrawer()">
          </button>
        </ion-nav-buttons>
      </ion-nav-bar>

      <ion-view title="Menu">
        <ion-content>

          <div class="list">
            <ion-checkbox ng-repeat="layer in model.layers">{{layer.name}}
              <img ng-src="http://192.168.20.108:8080/geocab/{{layer.icon}}">
            </ion-checkbox>
          </div>
        </ion-content>
      </ion-view>
    </drawer>

    <ion-pull-up-footer id="pull-up" ng-if="currentEntity.lat" initial-state="minimized" default-behavior="expand"
                        on-expand="footerExpand()" on-collapse="footerCollapse()" on-minimize="footerMinimize()" ng-include="'./views/map/pull-up.html'">

    </ion-pull-up-footer>

  </ion-side-menus>
</ion-view>
