<ion-pull-up-handle ng-if="!showMarkerDetails" ion-pull-up-trigger left="0" width="100" height="{{ pullUpHeight }}px" style="box-shadow: 0px -2px 6px rgba(0,0,0,0.3);">
  <div class="col sub-header" ng-if="!currentEntity.id">
    <div class="row" style="padding-bottom:0px">
      <div class="row">
        <b ng-if="currentEntity.layer.name">{{ currentEntity.layer.name }}</b>
        <b ng-if="!currentEntity.layer.name">{{'map.New-post' | translate}}</b>
      </div>
    </div>
    <div class="col" style="font-size: 12px;padding-bottom:0px; text-align:left">
      <div class="row">
        <span style="width:80px">Latitude</span> {{ formattedLatitude }}
      </div>
      <div class="row">
        <span style="width:80px">Longitude</span> {{ formattedLongitude }}
      </div>
    </div>
  </div>
  <div ng-if="currentEntity.id" class="col">
    <div class="row">
      <div class="row">
        <b>{{ currentEntity.layer.name ? currentEntity.layer.name : currentEntity.name }}</b>
      </div>
    </div>
    <div class="row">
      <div class="row" style="padding-top:0px">
        <h6 style="margin-top:0px">{{'PostedBy' | translate}} <b>{{ currentEntity.user.name }}</b> {{ 'in' | translate }} <b>{{ currentEntity.created | date:'dd/MM/yyyy' }}</b></h6>
      </div>
    </div>
  </div>
  <button class="button button-icon icon ion-checkmark confirm-marker-button fab" ng-if="!currentEntity.id"></button>
</ion-pull-up-handle>
<ion-pull-up-content scroll="true">
  <div ng-if="showMarkerDetails" class="col sub-header">
    <div ng-if="!currentEntity.id" style="font-size: 12px; margin-left:25px" class="col">
      <div class="row">
        <span style="width:80px">Latitude</span> {{ formattedLatitude }}
      </div>
      <div class="row">
        <span style="width:80px">Longitude</span> {{ formattedLongitude }}
      </div>
    </div>
    <div ng-if="currentEntity.id">
      <div class="row sub-header">
        <div class="col">
          <h6 style="color: #fff">{{'PostedBy' | translate}} <b>{{ currentEntity.user.name }}</b> {{ 'in' | translate }} <b>{{ currentEntity.created | date:'dd/MM/yyyy' }}</b></h6>
        </div>
      </div>
    </div>
  </div>
  <div class="list">
    <label class="item item-input item-select" ng-if="!currentEntity.id">
      <span class="input-label">{{ 'Layer' | translate }}</span>
      <select ng-change="listAttributesByLayer(currentEntity.layer)" ng-model="currentEntity.layer" ng-options="layer.name for layer in allInternalLayerGroups"></select>
    </label>
    <div class="row" ng-if="imgResult != '' && imgResult != null">
      <img ng-src="{{ setImagePath(imgResult) }}" width="100%" style="max-height: 200px" ng-click="$state.go(SHOW_GALLERY)">
    </div>
    <div ng-repeat="attribute in currentEntity.markerAttribute">
      <!--text or number-->
      <label class="item item-input item-floating-label" ng-if="attribute.type == 'TEXT' || attribute.type == 'NUMBER'">
        <span class="input-label">{{attribute.name}}</span>
        <input type="{{attribute.type}}" ng-model="attribute.value" placeholder="{{attribute.name}}">
      </label>
      <!--boolean-->
      <ion-checkbox ng-true-value="'Yes'" ng-false-value="'No'" ng-if="attribute.type == 'BOOLEAN'" ng-model="attribute.value">{{attribute.name}}</ion-checkbox>
      <!--date-->
      <label class="item item-input item-floating-label" ng-if="attribute.type == 'DATE'">
        <span class="input-label">{{attribute.name}}</span>
        <input type="text" ng-model="attribute.value" ng-click="showDatePicker(attribute)" placeholder="{{attribute.name}}">
      </label>
      <!--photo_album in action bar-->
    </div>
  </div>
  <div class="title bar-header" ng-if="showMarkerDetails" style="text-align: left" ng-class="{'bar-positive': showMarkerDetails}">
    <button ng-click="footerMinimize()" style="margin-top: 5px" class="button button-icon icon ion-android-arrow-back"></button>
    <div class="h1 title">{{ currentEntity.name ? currentEntity.name : currentEntity.layer.name }}</div>
    <div class="buttons">
      <button class="button button-icon icon ion-images" ng-click="$state.go( SHOW_GALLERY )"></button>
      <button class="button button-icon icon ion-android-done" ng-click="saveMarker()"></button>
    </div>
  </div>
</ion-pull-up-content>
