<ion-pull-up-handle ng-if="!showMarkerDetails" ion-pull-up-trigger left="0" width="100" height="90px">

  <div class="row">
    <b>{{ currentEntity.name }}</b>
  </div>
  <div class="row">
    <div class="col">Latitude</div>
    <div class="col">
      {{ currentEntity.lat }}
    </div>
  </div>
  <div class="row">
    <div class="col">Longitude</div>
    <div class="col">
      {{ currentEntity.lon }}
    </div>
  </div>

</ion-pull-up-handle>
<ion-pull-up-content scroll="true">
  <div class="row">
    <div class="col">Latitude</div>
    <div class="col">
      {{ currentEntity.lat }}
    </div>
  </div>
  <div class="row">
    <div class="col">Longitude</div>
    <div class="col">
      {{ currentEntity.lon }}
    </div>
  </div>
  <div class="list">
    <label class="item item-input item-select">
      <div class="input-label">Camada</div>
      <select ng-change="listAttributesByLayer(currentEntity.layer)" ng-model="currentEntity.layer" ng-options="layer.name for layer in model.layers">
      </select>
    </label>
    <div ng-repeat="attribute in currentEntity.markerAttribute">
      <!--text or number-->
      <label class="item item-input item-floating-label" ng-if="attribute.type == 'TEXT' || attribute.type == 'NUMBER'">
        <span class="input-label">{{attribute.name}}</span>
        <input type="{{attribute.type}}" ng-model="attribute.value" placeholder="{{attribute.name}}">
      </label>
      <!--boolean-->
      <ion-checkbox ng-if="attribute.type == 'BOOLEAN'" ng-model="attribute.value" >{{attribute.name}}</ion-checkbox>
      <!--date-->
      <label class="item item-input item-floating-label" ng-if="attribute.type == 'DATE'">
        <span class="input-label">{{attribute.name}}</span>
        <input type="text" ng-model="attribute.value" ng-click="showDatePicker(attribute)" placeholder="{{attribute.name}}">
      </label>
      <!--photo_album in action bar-->
    </div>
  </div>
  <div class="title bar-header" ng-if="showMarkerDetails" style="text-align: left" ng-class="{'bar-positive': showMarkerDetails}">
    <button ng-click="footerMinimize()" style="margin-top: 5px" class="button button-icon icon ion-chevron-left"></button>
    <div class="h1 title">{{ currentEntity.name }}</div>
  </div>
  <img ng-src="{{currentEntity.image}}"/>
  <button type="button" ng-click="getPhoto()">Camera</button>
  <button type="button" ng-click="save()">Salvar</button>
</ion-pull-up-content>
