<md-toolbar color="primary" class="mat-elevation-z4">
    <span>Fontes de Dados Geográficos</span>
    <span spacer></span>

</md-toolbar>

<section class="screen-actions">
    <a md-fab routerLink="/data-source/new">
        <md-icon>add</md-icon>
    </a>
</section>

<section class="screen-content">
    <table md-data-table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Endereço</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let datasource of dataSources">
            <td>{{datasource.name}}</td>
            <td>{{datasource.serviceType}}</td>
            <td>{{datasource.url}}</td>
        </tr>
        </tbody>
    </table>
</section>