<div class="page-header">
    <h1>Fontes de Dados Geográficos</h1>
</div>

<div class="screen-actions">
    <a role="button" routerLink="/data-source/new" class="btn btn-primary">Adicionar</a>
</div>

<div class="list-group">
    <div *ngFor="let datasource of dataSources" class="list-group-item">
        <h4 class="list-group-item-heading">{{datasource.name}}</h4>
        <p>Tipo de serviço: {{datasource.url ? datasource.serviceType : 'Interno'}}</p>
        <p *ngIf="datasource.url">Endereço: {{datasource.url}}</p>
    </div>
</div>