<geocab-toolbar title="Fontes de Dados Geográficos">
    <a class="screen-action" routerLink="/data-source/new">Adicionar nova fonte</a>
</geocab-toolbar>

<geocab-confirm-modal-dialog></geocab-confirm-modal-dialog>

<div class="screen-content">
    <div class="list-group">
        <div *ngFor="let datasource of dataSources" class="list-group-item">
            <h4 class="list-group-item-heading">{{datasource.name}}</h4>
            <p>Tipo de serviço: {{datasource.url ? datasource.serviceType : 'Interno'}}</p>
            <p *ngIf="datasource.url">Endereço: {{datasource.url}}</p>
            <div class="list-actions">
                <a routerLink="/data-source/{{datasource.id}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a role="button" (click)="remove(datasource)">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
        </div>
    </div>
</div>
