/* BOTÃ•ES TIPOS DE MAPQUEST */
#typeMapQuest button:hover{
    background-color: #fff;
    height: 22px;
}

#typeMapQuest button:focus{
    background-color: #fff;
    height: 22px;
}

#typeMapQuest button:active {
    background-color: #fff;
    border-top-width: 3px!important;
    height: 22px;
    padding-top: 0px;
    border-width: 1px;
}

/* MAPA GOOGLE */
#gmap #olmap {
    top: 0 !important;
    right: 4px !important;
}

/* TOOLTIP MOUSE POSITION */
#info {
    position: absolute;
    display: none;
    height: 25px;
    width: 200px;
    /*background-color: rgb(65, 63, 63);
    border-radius: 4px;
    border: 1px solid #cccccc;*/
    bottom: 0;
    left: 44%;
    margin-bottom: -3px;
    z-index: 1;
}

#info p {
    text-align: center;
    padding-top: 3px;
    color: black;
    font-weight: bold;
}

#olmap .tooltip {
    width: 120px;
    z-index: 1;
}

#olmap .tooltip.top .tooltip-arrow {
    border-top-color: transparent;
}

#olmap .tooltip-inner {
    background-color: transparent;
}

#olmap .tooltip:after {
    content: normal;
}

/* POPUP DE MEDIÃ‡ÃƒO DE DISTÃ‚NCIA E Ã�REA */
.ol-popup {
    z-index: 1;
    display: none;
    width: 130px;
    position: absolute;
    background-color: rgb(65, 63, 63);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    left: 40px;
    top: 10px;
}

.ol-popup p {
    text-align: left;
    color: white;
}


/* MENU LATERAL DE FERRAMENTAS */

.ferramenta_active {
    background: #0077bf!important;
}

.ui-tabs .ui-tabs-nav li {
    border-radius: 0px;
}

.map-menu-items {
    width: 58px;
    float: left;
    background: none;
    border: none;
}

.map-menu-items>li.ui-state-default {
    padding: 11px 8px!important;
}

.map-menu-items>li {
    background: none;
    border: none!important;
    list-style: none;
    padding: 16px 8px;
    height: 56px;
    width: 60px;
    text-align: center;
    clear: both;
    background: rgba(0, 0, 0,0.6);
    cursor: pointer;
    margin: 0!important;
}

.map-menu-items>li.ui-state-active.bg-inactive {
    background: rgba(0, 0, 0,0.6)!important;
}

.map-menu-items>li.ui-state-active{
    background: #0077bf!important;
}

#sidebar-tabs ul li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#sidebar-tabs li {
    background: rgba(0, 0, 0,0.6);
}

#sidebar-tabs ul li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tool-items>li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menu-sidebar-container ul li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.map-menu-items>li>a {
    text-decoration: none;
}

.map-menu-items>li>a>img {
    max-height: 24px;
}

#sidebar {
    width: 20%;
    position: fixed;
    background: white;
    right: 0px;
    z-index: 2;
    display: none;
    top: 117px;
    bottom : 0;
}
.sidebar-style {
    width: 20%;
    position: fixed;
    background: white;
    right: 0px;
    z-index: 2;
    display: none;
    top: 117px;
    bottom : 0;
}

.sidebar-style .container {
    width: 90%;
}
.sidebar-style .container label{
    display: block;
}

.marker-point {
   	color: #0077bf;
   	font-size: 30px;
}

#menu-sidebar-2{
    margin-top: 14px;
    margin-left: -6px;
}

#sidebar-tabs {
    border: none;
    background: none;
}

.menu-sidebar-container {
    position: absolute;
    right: 3px;
    border: none;
    width: 58px;
    z-index: 2;
    margin-top: 70px;
}

.sidebar-coloredbar {
    width: 2px;
    position: absolute;
    height: 100%;
    background: #0077bf;
}

.sidebar-icon {
    color: white;
    font-size: 21px;
}

.itaipu-icon-close.sidebar-close {
    position: absolute;
    right: 5px;
    top: 7px;
    font-size: 20px;
    cursor: pointer;
    color: #e5e5e5;
}

#main-content {
    overflow-x: hidden;
}

.panel-body {
/*     max-height: 250px; */
    overflow-y: auto;
}

.sidebar-content-header {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #0077bf;
    font-weight: bold;
    float: left;
    padding: 10px;
    font-size: 15px;
}

.sidebar-content-search {
    width: 95%;
    margin: 15px 0;
}

input[type=checkbox].css-checkbox {
    display: none;
}

input[type=checkbox].css-checkbox + label {
    margin-left: 37px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

input[type=checkbox].css-checkbox + label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 25px;
    background-color: #e5e5e5;
    border-radius: 3px;
    padding-top: 2px;
}

input[type=checkbox].css-checkbox:checked + label:before {
    content: "\2713";
    font-size: 11px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
    background-color: #0077C1;
}

input[type=checkbox].css-checkbox:indeterminate + label:before {
    content: "\2796";
    font-size: 11px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
    background-color: #0077C1;
}

.label-text {
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
    margin-left: 10px;
    cursor: pointer;
}

.label-image {
    border: 1px solid #c9c9c9;
    margin: -1px -40px 4px 37px;
    height: 22px;
    width: 22px;
    border-radius: 3px;
    cursor: pointer;
}

.ivh-treeview-node {
    position: relative;
    margin: 10px 0;
    display : flex;
}

.ivh-treeview-node-label span::after {
    content : " ";
    width   : 20px;
    display : inline-block;
}

ul.ivh-treeview li .ivh-treeview-toggle {
    font-size: 13px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

#tree li, #tree-pesquisas li {
    background: none;
}

.legend-detail-title{
    color: #b0b0b0;
    margin: 15px 0 -16px 0;
}

.legend-image-container {
    overflow: auto;
    position: absolute;
    top: 111px;
    bottom: 0;
    right: 0;
    left: 4px;
}

.icon-waiting-moderation {
	background: url("../../images/icon-waiting-moderation.png");
	width: 40px;
	height: 40px;
	margin-left: 8px;
	background-repeat: no-repeat;
}

.icon-accept-moderation {
	background: url("../../images/icon-accept-moderation.png");
	width: 40px;
	height: 40px;
	margin-left: 8px;
	background-repeat: no-repeat;
}

.icon-refuse-moderation {
	background: url("../../images/icon-refuse-moderation.png");
	width: 40px;
	height: 40px;
	margin-left: 8px;
	background-repeat: no-repeat;
}

#camada-legend-detail, #tabs-1, #tabs-2 {
    height: 100%;
}

.accordion-popup .panel-heading {
    padding-top: 0;
    padding-bottom: 0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
    cursor: pointer;
}

.msgMap > .alert {
	position:absolute;
	z-index:3;
	margin-bottom:0px;
	margin-left: 80px;
	text-align: center;
	width: 90%;
	top:0;
}

.msgMap > .alert > .close {
	position:initial;
}

.min-height-accordion .panel-collapse .panel-body {
/* 	min-height : 400px; */
}

.min-height-accordion .panel-collapse .panel-body {
/* 	max-height: initial !important; */
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	padding: 10px
}

#tree li, #tree-pesquisas li, #tree-kml li {
    background: none;
}
