<!DOCTYPE html>
<ion-view view-title="Signin">

    <ion-content class="padding login-image-footer" style="background-image: url('./static/images/logo.png')">

        <form name="model.form">
            <div style="width: 100%; text-align: center">
                <img alt="Logo" src="./static/images/logo.png" width="200" style="text-align:center;"/>
            </div>


            <div class="list">

                <label class="item item-input item-floating-label login-label">
                    <span class="input-label">Login</span>
                    <input type="text" placeholder="Login" ng-model="model.user.email">
                </label>
                <ng-messages class="padding" for="model.form.email.$touched && model.form.email.$error" role="alert">
                    <ng-message when="required">É necessário informar seu e-mail.</ng-message>
                    <ng-message when="email">O e-mail digitado está inválido.</ng-message>
                </ng-messages>


                <label class="item item-input item-floating-label login-label">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="Senha" ng-model="model.user.password">
                </label>
                <ng-messages class="padding" for="model.form.password.$touched && model.form.password.$error" role="alert">
                    <ng-message when="required">É necessário informar sua senha.</ng-message>
                </ng-messages>

            </div>

            <div>
                <button nav-clear class="button button-block button-positive" ng-click="loginHandler()">
                    <b>ENTRAR</b>
                </button>

                <div style="margin-top: 50px"></div>

                <button nav-clear class="button button-block button-small button-assertive" ng-click="googleSignIn()">
                    <b>ACESSAR COM O GOOGLE +</b>
                </button>
                <button nav-clear class="button button-block button-small button-calm" ng-click="fbLogin()">
                    <b>ACESSAR COM O FACEBOOK</b>
                </button>
            </div>

        </form>

    </ion-content>


</ion-view>
